<section class="container centered home-container-grid">
  <div class="about home-left">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul class="social-list">
      {{ range sort .}}
        {{ if .icon }}
          <li>
            <a href="{{ .url }}" aria-label="{{ .name }}">
              <i class="{{ .icon }}" aria-hidden></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url }}" aria-label="{{ .name }}">{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div class="projects">
    <h1>Recent Projects</h1>
    {{ range .Site.Data.projects }}
    {{ if isset . "link" }}
    <h3><a href="{{ .link }}">{{  .section  }}</a></h3>
    {{ else }}
    <h3>{{ .section }}</h3>
    {{ end }}    
    {{ range .content }}
    <p>{{ . | safeHTML }}</p>
    {{ end }}
    {{ end }}
  </div>
</section>
